.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a9ce24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2{  
  color: darkseagreen;
  justify-content: center;
}
li {
  list-style: none;
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  color: #999;
  cursor: pointer;
}
div>.name-list {
  display: none;
  margin-left: 10px;
  color: #000;
}
div:hover>.name-list{
  display: initial;  
}

